<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body id="body404" class="d-flex justify-center">
        <div class="container d-flex direction-column align-center">
            <h1>Erro 404</h1>
            <h2>Usuário, este local que você está tentando acessar possivelmente não existe mais.</h2>
            <h3>PS: Ou nunca existiu</h3>
        </div>
    </body>
</html>