<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head')%>
    <body>
        <form action="/searchmessages" method="GET">
            <label for="search">Busque uma mensagem pelo título:</label>
            <input type="text" name="search" />
            <button type="submit">Buscar</button>
        </form>
        <p>OU crie uma nova mensagem:</p>
        <a href="/newmessage"><button>Criar mensagem</button></a>
    </body>
</html>