<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body id="bodyHome" class="d-flex direction-column justify-center align-center">
        <h1>Ready-Messages Project</h1>
        <form id="searchMessageForm" class="d-flex direction-column align-center" action="/messages/search" method="GET">
            <label for="search">Busque uma mensagem pelo título</label>
            <input type="text" name="search" autocomplete="off" />
            <button type="submit">Buscar</button>
        </form>
        <p>OU</p>
        <p>Crie uma nova mensagem</p>
        <a href="/message/create">
            <button id="createMessage">Criar</button>
        </a>
    </body>
    <script src="/scripts/script.js"></script>
</html>