<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <%- include('../partials/head')%>
    </head>
    <body id="homeBody" class="d-flex flex-dire-column just-content-center alg-items-center">
        <div id="homeBox" class="d-flex flex-dire-column just-content-center alg-items-center">
            <h2>The Ready Messages Project</h2>
            <form id="searchFormHome" action="/searchmessages" method="GET">
                <label for="search">Busque uma mensagem pelo título:</label>
                <div class="d-flex flex-dire-column alg-items-center">
                    <input type="text" name="search" autocomplete="off" />
                    <button type="submit" id="sendSearch">Buscar</button>
                </div>
            </form>
            <p>OU<br>crie uma nova mensagem:</p>
            <a href="/newmessage"><button id="startCreateMessage">Criar mensagem</button></a>
        </div>
    </body>
</html>