<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body id="bodyNoResult" class="d-flex justify-center">
        <div class="container d-flex direction-column align-center">
            <h1>Erro Sem Resultados</h1>
            <h2>Infelizmente esta consulta não retornou nenhuma informação, favor verificar os parâmetros de pesquisa.</h2>
        </div>
    </body>
</html>