<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head')%>
    <body>
        <% messages.forEach((message) => { %>
            <h2><%= message.title_message %></h2>
            <p><%= message.content_message %></p>
            <hr>
        <% }) %>
    </body>
</html>