<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <%- include('../partials/head')%>
    </head>
    <body>
        <% message.forEach((message) => { %>
            <form action="/update/<%= message.id_message %>" method="POST">
                <label for="upttile">Título</label>
                    <input required="required" type="text" name="upttitle" value="<%= message.title_message %>">
                <label for="uptcontent">Conteúdo</label>
                    <textarea required="required" name="uptcontent" id="" cols="30" rows="10"><%= message.content_message %></textarea>
                <button type="submit">Atualizar</button>
            </form>
        <%}) %>
    </body>
</html>