<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body id="updateBody" class="d-flex direction-column align-center">
        <div class="container d-flex direction-column align-center">
            <h2>Atualizar mensagem</h2>
            <% messages.forEach((message) => { %>
                <form id="updateForm" class="d-flex direction-column align-center" action="/messages/update/<%= message.id_message %>" method="POST">
                    <label for="newtitle">Novo título</label>
                        <input type="text" name="newtitle" value="<%= message.title_message %>" />
                    <label for="newcontent">Novo conteúdo</label>
                        <textarea name="newcontent" id="" cols="60" rows="25"><%= message.content_message %></textarea>
                    <button type="submit">Atualizar</button>    
                </form>
            <% }); %>
        </div> 
    </body>
</html>